*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}


.success{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 15vh;
    font-size: 40px;
} 

.success img{
    width: 20vh;
    position: relative;
    top: 13vh;
    left: 68vh;
}

.success button{
    margin-top: 200px;
    padding: 5px 5px 5px 5px;
    font-weight: 700;
    font-size: 60px;
    border-radius: 10px;
    background-color:#ed5660;
    box-shadow: 2px 2px 2px 2px ;
} 

.success button a{
    text-decoration: none;
    font-size: larger;
    background-color: #ed5660;
    color: #fff;

}

.news{
    margin-top: 10vh;
    border: 2px solid black;
    width: 50vh;
    position: relative;
    left: 30vh;
}