* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.seat {
    background-color: #444451;
    height: 32px;
    width: 35px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.row {
    display: flex;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
}

.seat.selected {
    background-color: red;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(3) {
    margin-right: 32px;
}

.seat:nth-last-of-type(3) {
    margin-left: 32px;
}


.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}


.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.screen {
    background-color: #fff;
    height: 100px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.container {
    perspective: 2000px;
    margin-bottom: 30px;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: aqua;
}

.back {
    background-color: #ed5660;
    width: 10vh;
    height: 3vh;
    font-size: larger;
    font-weight: 600;
    border-radius: 8px;
}

.back a {
    text-decoration: none;
    color: #fff;
}

.proceed {
    background-color: #ed5660;
    width: 10vh;
    height: 3vh;
    font-size: larger;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
}

#check {
    color: red;
    font-style: oblique;
    padding-top: 20px;
}

.bookBg {
    background: #f1f5f4;
    width: 520px;
    height: 500px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(219, 213, 213, 0.75);
    top: 27.8vh;
    display: none;
}

.show {
    font-size: 30px;
    color: #ed5660;
    position: relative;
    left: 49.5vh;
    bottom: 37px;
    background-color: #f1f5f4;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px #444451;

}


.ticketDetail {
    color: #444451;
    position: relative;
    left: 40px;
    bottom: 15px;
}

.bms {
    background-color: #777;
}

.bms img {
    width: 100px;
    position: relative;
    left: 215px;
    padding-top: 5px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.card {
    position: relative;
    left: 30px;
}


.card input {
    width: 290px;
    height: 40px;
    font-size: larger;
    position: relative;
    bottom: 39.9px;
    left: 84px;
    border: 1px solid #777;
    padding-left: 10px;

}

.card em {
    font-size: 30px;
}

.visa {
    background-color: #fff;
    width: 40px;
    position: relative;
    left: 30px;
    height: 39.9px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 45px;
    border: 1px solid #777;
}

.card h3 {
    position: relative;
    left: 30px;
}

.cards {
    color: #242333;
    position: relative;
    left: 22px;
}

.expiry input {
    position: relative;
    bottom: 10px;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    font-size: larger;

}

.expiry {
    position: relative;
    bottom: 43px;
    left: 60px;
}

.cvv input {
    position: relative;
    bottom: 10px;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    font-size: larger;

}

.cvv {
    position: relative;
    bottom: 133px;
    left: 200px;
}

.cardHolder {
    position: relative;
    bottom: 140px;
    left: 60px;
}

.cardHolder input {
    width: 350px;
    height: 40px;
    padding-left: 10px;
    font-size: larger;
}

.pay {
    position: relative;
    bottom: 120px;
    left: 60px;
}

.pay button {
    width: 355px;
    height: 50px;
    font-size: larger;
    background-color: #ed5660;
    color: #fff;
    border-radius: 5px;
}

.otp{
   background-color: #fff;
   width: 400px; 
   height:350px;
   position: absolute;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 2px grey;
   top: 41vh;
   display: none;
}

.bms1 {
    background-color: #777;
    border-radius: 5px;
}

.bms1 img {
    width: 100px;
    position: relative;
    left: 150px;
    padding-top: 10px;
}

.show1 {
    font-size: 30px;
    color: #ed5660;
    position: relative;
    left: 37.4vh;
    bottom: 38px;
    background-color: #f1f5f4;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px #444451;

}

.generateOtp{
    color: #242333;
    position: relative;
    left: 100px;
    bottom: 20px;
}

.generateOtp h2{
    cursor: pointer;
}

.generateOtp .otpNo{
    position: relative;
    bottom: 10px;
    left: 60px;
    border: 1px solid #444451;
    width: 70px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #777;
    color: #fff;
    display: none;
}


.otpInput{
    position: relative;
    left: 130px;
}

.otpInput input{
    width: 130px;
    text-align: center;
    font-size: larger;
    height: 40px;
    letter-spacing: 10px;
    outline-style: none;
    border-style:groove;
    border-top: none;
    border-left: none;
    border-right: none;
}

.otpInput button{
    position: relative;
    right: 90px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: larger;
    background-color: #ed5660;
    color: #fff;
}

.otpAlert{
    color: red;
    position: relative;
    left: 120px;
    top: 20px;
}