body {
  background: #A9D9C3;
}

#register_form h1 {
  text-align: center;
}

#register_form {
  width: 37%;
  margin: 100px auto;
  padding-bottom: 30px;
  border: 1px solid #918274;
  border-radius: 5px;
  background: white;
  position: relative;
  top: 20vh;
}


#register_form input {
  width: 80%;
  height: 35px;
  margin: 5px 10%;
  font-size: 1.1em;
  padding: 4px;
}

#reg_btn {
  height: 35px;
  width: 81.8%;
  margin: 5px 10%;
  font-size: larger;
  color: white;
  background: #67a17f;
  border: none;
  border-radius: 5px;
}

#reg_btns {
  height: 35px;
  width: 81.8%;
  margin: 5px 10%;
  font-size: larger;
  color: white;
  background: #D83D5A;
  border: none;
  border-radius: 5px;
}

/*Styling for errors on form*/
.form_error span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1em;
  color: #D83D5A;
}

.form_error input {
  border: 1px solid #D83D5A;
}

/*Styling in case no errors on form*/
.form_success span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1em;
  color: green;
}

.form_success input {
  border: 1px solid green;
}

#error_msg {
  color: red;
  text-align: center;
  margin: 10px auto;
}

.login {
  position: relative;
  left: 7vh;
  font-family: sans-serif;
  font-weight: 600;
}

.login a {
  text-decoration: none;

}

input#showPassword {
  width: 14px;
  height: 14px;
  position: relative;
  bottom: 16.78vh;
  left: 108.5vh;
  outline: none;
}



.hide {
  position: relative;
  bottom: 20.4vh;
  left: 111.3vh;
  color: #918274;

}

input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #918274;
  outline-style: none;
}

