* {
    margin: 0;
}

.navbar {
    background: #333545;
    display: flex;
    align-items: center;
    padding-left: 30vh;
    height: 80px;

}

.secondMenu {
    background: #222539;
    width: 100%;
    height: 50px;
}

.logo img {
    width: 13vh;
    height: 40px;
}

.search input {
    width: 55vh;
    height: 4vh;
    border-radius: 1%;
    padding-left: 45px;
    border: none;
}

.state select {
    border-style: none;
    background: transparent;
    color: #fff;
    outline: none;
    position: relative;
    left: 20vh;
    font-size: larger;
    font-family: sans-serif;
}

.state select option {
    background: #222539;

}

.sign {
    height: 25px;
    width: 7vh;
    position: relative;
    left: 23vh;
    border-radius: 5px;
    background: #ed5663;
    color: #fff;
    border: none;
    overflow: hidden;

}

.sign a {
    text-decoration: none;
    color: #fff;
}

#menu {
    position: absolute;
    right: 42vh;
    top: 22px;
    font-size: 25px;
    color: #fff;
}

.sidebar {
    margin-top: -10px;
    position: fixed;
    top: 17px;
    width: 400px;
    height: 100%;
    background: white;
    box-shadow: 0px 1px 0px 1px;
    right: -400px;
    transition: .4s;

}

.sidebar.active {
    right: -30px;
}


.sidebar ul li {
    list-style: none;
    color: #333545;
    padding: 20px 20px;
    border-bottom: 1px solid gray;
    margin-left: -40px;


}

.sidebar ul li.hey {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    background: #333545;
    margin-left: -40px;
    border-bottom: none;
    color: #fff;
}

.search i {
    position: relative;
    left: 40px;
    top: 2px;

}

.loginRegister {
    display: flex;
    padding-bottom: 5px;
    box-shadow: 1px 1px;
    margin-left: -42px;

}

.loginRegister a {
    text-decoration: none;
    color: #fff;
}

.loginRegister img {
    position: relative;
    bottom: 5px;
    right: 30px;
    width: 40px;
    height: 40px;
}

.loginRegister p {
    font-size: 15px;
    font-weight: 700;
    display: grid;
    position: relative;
    right: 10px;
    bottom: 3px;
}

.register {
    width: 100px;
    height: 30px;
    font-size: 13px;
    padding: 3px 3px;
    position: relative;
    bottom: 3px;
    right: -15px;
    background: #ed5663;
    border-radius: 5px;
    border: none;
}

.sideText li a {
    text-decoration: none;
    color: #222539;
}

.secondMenu ul li {
    display: inline;
    padding-right: 70px;
}

.secondMenu ul {
    text-align: center;
    padding-top: 18px;

}

.secondMenu ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.secondMenu .stream {

    font-size: larger;
    color: red;
    font-weight: 700;

}

.spiderCopyRight {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #333338;
    color: rgb(92 90 90);
    height: 60px;
    width: 100%;
    padding-top: 26px;
    position: absolute;
    top: 240vh;
}


.streamImage {
    width: 100%;
    height: 45vh;
}

.streamImage2 {
    width: 27vh;
    height: 42vh;
    border-radius: 20px;
    position: relative;
    bottom: 44vh;
    left: 37vh;
    box-shadow: 2px 2px 2px 2px #333338;

}


.premiere {
    width: 15vh;
    position: relative;
    bottom: 75vh;
    left: 43vh;

}

.brandNew {
    background: #22283c;
    width: 42vh;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    box-shadow: 2px 1px 2px 2px #22283c;

}

.brandEnjoy {
    background: #22283c;
    width: 37vh;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    box-shadow: 2px 1px 2px 2px #22283c;

}


.brand {
    position: relative;
    bottom: 73vh;
    left: 70vh;
    color: #fff;
    font-family: sans-serif;
    width: 60vh;

}


/*     filter      ------------------------------------------------------------------ */


.streams {
    position: relative;
    bottom: 59.3vh;
    height: 900px;
}

section {
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}

.sec {
    background: grey;
}

section ul {
    display: flex;

}

section ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    right: 21vh;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px #333338;
}

section ul li.active {
    background: #ed5663;
    color: #fff;

}

.movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie div img {
    width: 29vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #222539;

}

.movie div h2 {
    width: 30vh;
    padding-top: 10px;
padding-left: 20px;
}

.movie a {
    text-decoration: none;
    color: #222539;
}

.movie div {
    padding-right: 80px;
    margin-bottom: 30px;
    margin-left: 60px;
}