* {
    margin: 0;

}


.navbar {
    background: #333545;
    display: flex;
    align-items: center;
    padding-left: 30vh;
    height: 80px;

}

.secondMenu {
    background: #222539;
    width: 100%;
    height: 50px;
}

.logo img {
    width: 13vh;
    height: 40px;
}

.search input {
    width: 55vh;
    height: 4vh;
    border-radius: 1%;
    padding-left: 45px;
    border: none;
}

.state select {
    border-style: none;
    background: transparent;
    color: #fff;
    outline: none;
    position: relative;
    left: 20vh;
    font-size: larger;
    font-family: sans-serif;
}

.state select option {
    background: #222539;

}

.sign {
    height: 25px;
    width: 7vh;
    position: relative;
    left: 23vh;
    border-radius: 5px;
    background: #ed5663;
    color: #fff;
    border: none;
    overflow: hidden;

}

.sign a {
    text-decoration: none;
    color: #fff;
}

#menu {
    position: absolute;
    right: 50vh;
    top: 20px;
    font-size: 25px;
    color: #fff;
}

.sidebar {
    margin-top: -10px;
    position: fixed;
    top: 17px;
    width: 400px;
    height: 100%;
    background: white;
    box-shadow: 0px 1px 0px 1px;
    right: -400px;
    transition: .4s;

}

.sidebar.active {
    right: -30px;
}


.sidebar ul li {
    list-style: none;
    color: #333545;
    padding: 20px 20px;
    border-bottom: 1px solid gray;
    margin-left: -40px;


}

.sidebar ul li.hey {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    background: #333545;
    margin-left: -40px;
    border-bottom: none;
    color: #fff;
}

.search i {
    position: relative;
    left: 40px;
    top: 2px;

}

.loginRegister {
    display: flex;
    padding-bottom: 5px;
    box-shadow: 1px 1px;
    margin-left: -42px;

}

.loginRegister a {
    text-decoration: none;
    color: #fff;
}

.loginRegister img {
    position: relative;
    bottom: 5px;
    right: 30px;
    width: 40px;
    height: 40px;
}

.loginRegister p {
    font-size: 15px;
    font-weight: 700;
    display: grid;
    position: relative;
    right: 10px;
    bottom: 3px;
}

.register {
    width: 100px;
    height: 30px;
    font-size: 13px;
    padding: 3px 3px;
    position: relative;
    bottom: 3px;
    right: -15px;
    background: #ed5663;
    border-radius: 5px;
    border: none;
}

.sideText li a {
    text-decoration: none;
    color: #222539;
}

.secondMenu ul li {
    display: inline;
    padding-right: 70px;
}

.secondMenu ul {
    text-align: center;
    padding-top: 18px;

}

.secondMenu ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.secondMenu .movie {

    font-size: larger;
    color: red;
    font-weight: 700;

}



/* movie page */



details summary {
    padding-top: 30px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    position: relative;
    bottom: 15px;
    font-size: 30px;


}

details div {
    position: relative;
    left: 100px;
border-radius: 20px;
cursor: pointer;
}

.tamil {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 72px;
    height: 20px;
    text-align: center;
    padding: 5px;

}

.detail div.active1{
    background: #e1515d;
    color: #eee;
}

.english {
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 197px;
    bottom: 37px;
}

.hindi {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 280px;
    bottom: 63px;

}

.telugu {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 100px;
    bottom: 63px;
}

.malai {
    border: 1px solid grey;
    width: 90px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 180px;
    bottom: 98px;
}

.kannada {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 70px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 290px;
    bottom: 125px;

}

.detail {
    box-shadow: 2px 2px 2px 2px grey;
    width: 40vh;
    margin-left: 40px;
    margin-top: 90px;
    padding-right: 50px;
    color: rgb(220, 53, 88);
    background:  #ffffff;
    border-radius: 20px;
}

.filter {
    position: relative;
    top: 65px;
    left: 40px;
    width: 300px;
}

/* Banner slide------------------------------------------------------------------------------------------------------------ */

.slide {
    width: 100%;
}



/* Genres box-------------------------------------------------------------------------------------------------------- */
.genres {
    box-shadow: 2px 2px 2px 2px grey;
    width: 40vh;
    margin-left: 40px;
    margin-top: 20px;
    padding-right: 50px;
    color: rgb(220, 53, 88);
    background:  #ffffff;
    border-radius: 20px;

}


.tamils {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 80px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
}

.englishs {
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 200px;
    bottom: 37px;
}

.hindis {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 280px;
    bottom: 63px;

}

.telugus {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 100px;
    bottom: 63px;
}

.malais {
    border: 1px solid grey;
    width: 90px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 180px;
    bottom: 98px;
}

.kannadas {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 70px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 290px;
    bottom: 125px;

}

/* form box----------------------------------------------------------------------------------------------------------------------------------- */

.format {
    box-shadow: 2px 2px 2px 2px grey;
    width: 40vh;
    margin-left: 40px;
    margin-top: 20px;
    padding-right: 50px;
    background:  #ffffff;
    color: rgb(220, 53, 88);
    border-radius: 20px;

}



.gene {
    position: relative;
    top: 70px;
    left: -1px;



}

.gen {
    position: relative;
    bottom: 50px;
    left: -1px;

}


.tam {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 80px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
}

.eng {
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 200px;
    bottom: 37px;
}

.hin {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 280px;
    bottom: 63px;

}

.tel {
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 100px;
    bottom: 63px;
}


.genes {
    position: relative;
    top: 10px;
    left: -2px;
}

/* explore upcoming------------------------------------------------------- */


.moviesChennai{
    position: relative;
    left: 100vh;
    bottom: 25vh;
    width: 350px;
}

.explore{
    position: relative;
    left: 60vh;
    bottom: 14.5vh;
    background: #ffffff;
    width: 120vh;
    height: 80px;
    border-radius: 20px;
}

.explore h2{
    float: left;
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 25px;
}


.explore p a{
    float: left;
    padding-right: 50px;
    padding-left: 70vh;
    padding-top: 28px;
    color: #e1515d;
    text-decoration: none;
}

.explore i{
    position: relative;
    left: 18px;
color: #e1515d;


}


/* movie selection--------------------------------------------------------------------------------------------------------------------- */
.movieSelection{
    
    display: flex;
flex-wrap: wrap;
justify-content: center;

}

.movieSelection img{
width: 25vh;
padding: 20px 20px;
border-radius: 30px;
margin-right: 15px;
box-shadow: 1px 1px 1px 2px #222539;
}

.movieSelection h2,p{
    padding-bottom:10px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    
    }

    .movieSelection h2{
        width: 20vh;
    }

    .movieSelection a{
        text-decoration: none;
    }


    .spiderCopyRight{
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
        background-color:#333338; 
        color: rgb(92 90 90);
        height: 60px;
        width: 100%;
        padding-top: 26px;
        position: absolute;
        top: 290vh;
    }

